In [32]:
import pandas as pd
data = 'PYTC2M2P01_Activity_LoadingandinspectingdatasetsinPandas.zip\customer_data_50.csv' 
df = pd.read_csv(data)
print(df.head())

   customer_id first_name  last_name                       email gender  age  \
0         1001     Sophia      Smith    sophia.smith@example.com      M   54
1         1002     Joseph      Smith    joseph.smith@example.com      M   66
2         1003       John   Anderson   john.anderson@example.com      F   56
3         1004       Emma  Hernandez  emma.hernandez@example.com      M   44
4         1005      Emily     Garcia    emily.garcia@example.com      F   25

          city state country  purchase_count  total_spend  avg_order_value  \
0  San Antonio    TX     USA               5          965            193.0
1  Los Angeles    CA     USA               7         1246            178.0
2      Phoenix    AZ     USA               1          199            199.0
3  Los Angeles    CA     USA              14         3752            268.0
4       Dallas    TX     USA              12         1620            135.0

           last_purchase_date
0  2023-09-12 15:28:32.140488
1  2023-08-25 15:28:32.140488
2  2024-04-28 15:28:32.140488
3  2024-01-01 15:28:32.140488
4  2023-12-09 15:28:32.140488

In [33]:

shape_of_data = df.shape
print(shape_of_data)

(50, 13)

In [34]:
df.describe()

       customer_id        age  purchase_count  total_spend  avg_order_value
count     50.00000  50.000000        50.00000    50.000000        50.000000
mean    1025.50000  43.440000         8.60000  1491.880000       179.920000
std       14.57738  14.833993         4.28095   968.697666        70.820221
min     1001.00000  19.000000         1.00000   199.000000        53.000000
25%     1013.25000  30.000000         5.00000   819.000000       125.750000
50%     1025.50000  44.500000         8.00000  1350.000000       180.000000
75%     1037.75000  54.000000        12.00000  1916.000000       237.500000
max     1050.00000  69.000000        15.00000  4440.000000       299.000000

In [35]:
print(df['age'].mean())

43.44